.courseBlock {
  margin: 30px 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.like {
  display: flex;
}
.coursePlaceList {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.placeBlock {
  position: relative;
  width: 200px;
  height: 200px;
}

.placeImg {
  border-radius: 20px;
}

.placeInfo {
  position: absolute;
  top: 120px;
  left: 0;
  text-align: right;
  color: #fff;
  width: 190px;
  padding: 4px;
}

.idx {
  font-size: 30px;
  margin-bottom: 2px 0;
}

.address {
  font-size: 14px;
  margin-top: 2px;
}
.courseList {
  position: relative;
  padding-top: 10px;
}
.courseList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
}

.searchWrapper {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #cccccc;
  margin: 10px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.searchInput {
  width: 350px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  height: 38px;
  margin: 0 10px;
}
.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none; /* 아이콘이 클릭을 막지 않게 */
}

.courseWrapper {
  width: 80%;
  margin-left: 10%;
}
