.profileWrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
}

.nameWrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 12px;
  width: 20%;
}

.rightWrapper {
  width: 80%;
}

.menuList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #e5e5e5;
  padding: 8px 0;
  border-radius: 12px;
}

.menuList li {
  padding: 10px 6%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  color: #9d9d9d;
}

.click {
  background-color: white;
  color: #333 !important;
}
