@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg_wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(151, 151, 151, 0.1);
}

.loading {
  color: var(--color-main);
  font-weight: bold;
  font-size: 30px;
}

.spin_component {
  animation: spin 2s linear infinite;
}
