.courseBlock {
  margin: 30px 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-size: 26px;
  font-weight: bold;
}
.like {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.coursePlaceList {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.placeBlock {
  position: relative;
  width: 200px;
  height: 200px;
}

.placeImg {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.placeInfo {
  position: absolute;
  top: 110px;
  right: 10px;
  text-align: right;
  color: #fff;
  width: 190px;
  padding: 4px;
  text-shadow: #333 0px 0px 4px;
}

.idx {
  font-size: 30px;
}

.placeName,
.placeNameEllipsis {
  margin-top: 4px;
  font-size: 18px;
  font-weight: bold;
}
.placeNameEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
  min-width: 0;
  margin-left: 20px;
}

.address {
  font-size: 14px;
  margin-top: 4px;
}
.courseList {
  position: relative;
  padding-top: 10px;
}
.courseList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
}

.searchWrapper {
  position: relative;
  display: inline-block;
  width: 420px;
  border-radius: 12px;
  border: 1px solid #cccccc;
  margin: 40px 0 10px 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.searchInput {
  width: 350px;
  border: none;
  font-size: 18px;
  height: 38px;
  margin: 4px 10px 4px 20px;
}
.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none; /* 아이콘이 클릭을 막지 않게 */
}

.courseWrapper {
  width: 80%;
  margin-left: 10%;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 50px 0;
}

.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: right;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.click {
  color: var(--color-main);
  font-weight: bold;
}
